@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Playpen+Sans:wght@100..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

.font-arva {
    font-family: "Arvo", serif;
}

.font-playpen {
    font-family: "Playpen Sans", cursive;
}

.font-space {
    font-family: "Space Grotesk", sans-serif;
}